@model StarWars.Models.Character

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterTypeID" class="control-label"></label>
                <select asp-for="CharacterTypeID" class="form-control" asp-items="ViewBag.CharacterTypeID"></select>
                <span asp-validation-for="CharacterTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterGroupID" class="control-label"></label>
                <select asp-for="CharacterGroupID" class="form-control" asp-items="ViewBag.CharacterGroupID"></select>
                <span asp-validation-for="CharacterGroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePlanet" class="control-label"></label>
                <input asp-for="HomePlanet" class="form-control" />
                <span asp-validation-for="HomePlanet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FactionID" class="control-label"></label>
                <select asp-for="FactionID" class="form-control" asp-items="ViewBag.FactionID"></select>
                <span asp-validation-for="FactionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
